*.o
build/
run.sh
input.txt
UnitTest/
unit-testing/
a.out
not_used/
eric-test
.gitmodules
erc-test
py/inputs/*
!py/inputs/.gitkeep
py/results/*
!py/results/.gitkeep
install-docker.sh
results/
/results/
