*.o
build/
run.sh
input.txt
UnitTest/
unit-testing/
a.out
not_used/
eric-test
.gitmodules
erc-test
py/inputs/codemodel.json
py/inputs/suiteinfo.xml
py/results/data_from_xml.json
py/results/final.json
